@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  --body-fonts: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-semi-bold: 600;
  --font-bold: 700;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
}
*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: var(--header-height);
  font-family: var(--body-fonts);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  line-height: 1.5;
  color: var(--title-color);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============== Change theme ==============*/
/* theme varialbes*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

/* theme buttons*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
}

.dark-theme .footer {
  background-color: var(--container-color);
}

/*frequnetly use class*/
.section {
  padding: 4.5rem 0 1rem;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*========== layout ========*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.contact__description, .app__data, .security__data, .about__data {
  text-align: center;
  line-height: 1.6;
}

.app__container, .security__container, .about__container {
  gap: 2.5rem;
}

/* start header section*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: var(--body-color);
}

/* end header section*/
/* start nav section*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    width: 90%;
    left: 0;
    right: 0;
    top: -100%;
    margin: 0 auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    z-index: var(--z-fixed);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.nav__logo, .nav__link, .nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show {
  top: var(--header-height);
}

/* active link */
.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* scroll header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* end nav section*/
/*=========== Home ============*/
.home__container {
  row-gap: 3rem;
}
.home__title {
  font-weight: var(--font-bold);
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-0-75);
}
.home__description {
  margin-bottom: var(--mb-2);
  line-height: 1.6;
}

/* header button*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1a1a1a;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__header {
  display: none;
}
.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}
.button-link:hover {
  background-color: transparent;
}
.button-flex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  padding: 0.75rem 1rem;
}
.button__icon {
  font-size: 1.5rem;
}

/* header button*/
/* ========== Start about section =======*/ /* =================== security ================*/
/* ========= services =============*/
.services__container {
  padding-top: 1rem;
}
.services__data {
  display: grid;
  row-gap: 1rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-align: center;
}
.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: var(--mb-0-5);
}

/* ================= App section =====================*/
.app__description {
  margin-bottom: var(--mb-1-5);
}
.app__buttons {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 0.5rem;
}

/*  ========= start contact sec*/
.contact__container {
  padding-bottom: 3rem;
}
.contact__contact {
  row-gap: 0.75rem;
}
.contact__address {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.contact__information {
  color: var(--text-color);
  font-weight: initial;
}

/*  ===== start footer section ===== */
.footer {
  background-color: var(--first-color-lighten);
  padding-bottom: 2rem;
}
.footer__container {
  row-gap: 2rem;
}
.footer__logo, .footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}
.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.footer__description, .footer__link {
  font-size: var(--small-font-size);
}
.footer__links {
  display: grid;
  row-gap: 0.5rem;
}
.footer__link {
  color: var(--title-color);
}
.footer__social {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
}
.footer__copy {
  margin-top: 6rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/*  scroll arrow*/
.scrollUp {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  z-index: 10;
  background-color: var(--first-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  opacity: 0.8;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.scrollUp:hover {
  opacity: 1;
}
.scrollUp__icon {
  font-size: 1rem;
  color: var(--title-color);
}

/* scroll bar*/
::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* ========= media query  ========= */
/* ========= Small devices  ========= */
@media screen and (max-width: 360px) {
  .svg__img {
    width: 100%;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .services__img {
    width: 100px;
  }
  .app__buttons {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
  }
}
/* ========= Medium devices ===== ==== */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .section__title-center {
    text-align: initial;
  }
  .home__container,
.about__container,
.security__container,
.services__container,
.app__container,
.contact__container,
.footer__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__img {
    order: 1;
  }
  .about__data, .contact__description, .app__data, .security__data {
    text-align: initial;
  }
  .about__img, .app__img {
    order: -1;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .home__container {
    padding: 6rem 0 2rem;
  }
  .app__buttons {
    justify-content: initial;
  }
}
/*=========large devices =========*/
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
  .svg__img {
    width: 470px;
  }
  .about__container,
.security__container,
.app__container,
.contact__container {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 1.45rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 540px;
  }
  .home__description {
    padding-right: 5rem;
  }
  .footer__container {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .scrollUp {
    right: 2rem;
  }
}/*# sourceMappingURL=style.css.map */